.fondo{
  position: absolute;
  top: -500px;
  left: -50vw;
  z-index: -1;
  background-color: rgb(170, 104, 255);
  width: 150vw;
  height: 1000px;
  transform: rotate(-15deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -20px 36px -28px inset;
} 

.logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.input{
  display: flex;
  border-color: blueviolet;
  border-style: solid;
  border-radius: 2rem;
  border-width:3px;
  height: 2.5rem;
  width: 100%;
}

.link>a{
  color: blue;
}
.link>a:hover{
  text-decoration: underline;
}

.ingresar{
  width: 100%;
  height: 2.5rem;
  border-radius: 99rem;
}

.card-ingresar{
  margin-top: 50px;
}

textarea{
  width: 100% !important;
}